/* Wrapper */

	#wrapper {
		.footer-img {
			img {
				width: 100%;
				display: block;
			}
		}

		#form-formation {
			img {
				height: 350px;
				width: 600px;
			}
		}

		.text-formation {
			text-align: center;
			margin-top: 50px;
		}
		@include vendor('transition', (
			'filter #{_duration(menu)} ease',
			'-webkit-filter #{_duration(menu)} ease',
			'opacity 0.375s ease-out'
		));

		&.is-transitioning {
			opacity: 0;
		}

		> * {
			@include inner;
		}

		@include breakpoint('<=small') {

		}
	}

	@media only screen and (max-width: 600px) {
		#wrapper #form-formation img {
			height: 200px;
			width: 300px;
		}
	}

	@media only screen and (max-width: 400px) {
		#wrapper #form-formation img {
			height: 150px;
			width: 250px;
		}
	}

	
