/* Wrapper */

	#wrapper {
		.footer-img {
			img {
				width: 100%;
				display: block;
			}
		}
		.text-formation {
			text-align: center;
			margin-top: 50px;
		}
		@include vendor('transition', (
			'filter #{_duration(menu)} ease',
			'-webkit-filter #{_duration(menu)} ease',
			'opacity 0.375s ease-out'
		));

		&.is-transitioning {
			opacity: 0;
		}

		> * {
			@include inner;
		}

		@include breakpoint('<=small') {

		}
	}
